/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Additional Reset Styles */
body {
  position: relative;
  font-family: Arial, sans-serif;
  height: 100vh;
  font-size: 16px;
  color: #4a4a4b;
  background: radial-gradient(farthest-corner at 40px 40px, #84ceeb 0, #c1c8e4 100%);
}

.margin__top--micro {
  margin-top: 10px;
}

.margin__top--mini {
  margin-top: 20px;
}

.margin__top--small {
  margin-top: 40px;
}

.margin__top {
  margin-top: 60px;
}

.margin__top--medium {
  margin-top: 80px;
}

.margin__top--big {
  margin-top: 100px;
}

.margin__bottom--micro {
  margin-bottom: 10px;
}

.margin__bottom--mini {
  margin-bottom: 20px;
}

.margin__bottom--small {
  margin-bottom: 40px;
}

.margin__bottom {
  margin-bottom: 60px;
}

.margin__bottom--medium {
  margin-bottom: 80px;
}

.margin__bottom--big {
  margin-bottom: 100px;
}

.margin__left--micro {
  margin-left: 10px;
}

.margin__left--mini {
  margin-left: 20px;
}

.margin__left--small {
  margin-left: 40px;
}

.margin__left {
  margin-left: 60px;
}

.margin__left--medium {
  margin-left: 80px;
}

.margin__left--big {
  margin-left: 100px;
}

.margin__right--micro {
  margin-right: 10px;
}

.margin__right--mini {
  margin-right: 20px;
}

.margin__right--small {
  margin-right: 40px;
}

.margin__right {
  margin-right: 60px;
}

.margin__right--medium {
  margin-right: 80px;
}

.margin__right--big {
  margin-right: 100px;
}

.hide__all {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

.full__height {
  height: 100%;
}

.full__width {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .margin__top--micro {
    margin-top: 2.5px;
  }
  .margin__top--mini {
    margin-top: 5px;
  }
  .margin__top--small {
    margin-top: 10px;
  }
  .margin__top {
    margin-top: 15px;
  }
  .margin__top--medium {
    margin-top: 20px;
  }
  .margin__top--big {
    margin-top: 25px;
  }
  .margin__bottom--micro {
    margin-bottom: 2.5px;
  }
  .margin__bottom--mini {
    margin-bottom: 5px;
  }
  .margin__bottom--small {
    margin-bottom: 10px;
  }
  .margin__bottom {
    margin-bottom: 15px;
  }
  .margin__bottom--medium {
    margin-bottom: 20px;
  }
  .margin__bottom--big {
    margin-bottom: 25px;
  }
  .margin__left--micro {
    margin-left: 2.5px;
  }
  .margin__left--mini {
    margin-left: 5px;
  }
  .margin__left--small {
    margin-left: 10px;
  }
  .margin__left {
    margin-left: 15px;
  }
  .margin__left--medium {
    margin-left: 20px;
  }
  .margin__left--big {
    margin-left: 25px;
  }
  .margin__right--micro {
    margin-right: 2.5px;
  }
  .margin__right--mini {
    margin-right: 5px;
  }
  .margin__right--small {
    margin-right: 10px;
  }
  .margin__right {
    margin-right: 15px;
  }
  .margin__right--medium {
    margin-right: 20px;
  }
  .margin__right--big {
    margin-right: 25px;
  }
}
.alert {
  padding: 10px 20px;
  width: 40%;
  background: linear-gradient(#84ceeb, #c1c8e4);
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.9;
  z-index: 10000000;
}
.alert__img {
  height: 30px;
}

.content {
  overflow: auto;
}
.content__text--bold {
  font-weight: 550;
  font-size: 20px;
}
@media only screen and (max-width: 700px) {
  .content__text {
    font-size: 18px;
  }
  .content__text--bold {
    font-size: 18px;
  }
  .content__heading {
    font-size: 28px;
  }
}
@media only screen and (max-width: 420px) {
  .content__text {
    font-size: 15px;
  }
  .content__text--bold {
    font-size: 15px;
  }
  .content__heading {
    font-size: 18px;
  }
}
.content__icon {
  height: 40px;
}

.notification {
  position: fixed;
  width: 40px;
  cursor: pointer;
  position: relative;
}
.notification__count {
  color: #fff;
  background-color: red;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: -15%;
}

.item__card {
  position: relative;
  padding: 10px 20px;
  height: 180px;
  background: linear-gradient(#84ceeb, #c1c8e4);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.9;
  overflow: auto;
}
.item__card--item {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item__card--item__container {
  border-radius: 10px;
  height: 120px;
  width: 250px;
  padding: 10px 20px;
  background: #fff;
  overflow: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.item__card--item__container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.item__card--item__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.item__card--item__h1 {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}
.item__card--drop {
  cursor: pointer;
  color: #4a4a4b;
  background: transparent;
  border: none;
}
.item__card--drop:focus {
  outline: none;
  border: none;
}

.item__card::-webkit-scrollbar-track {
  border-radius: 10px;
}

.item__card::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.toggle {
  cursor: pointer;
  width: 45px;
  height: 15px;
  position: relative;
}
.toggle__body {
  border: 1px solid #c1c8e4;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.toggle__red {
  background: red;
}
.toggle__green {
  background: green;
}
.toggle__right {
  right: 0;
}
.toggle__knot {
  position: absolute;
  top: -16.5%;
  background: linear-gradient(to left, #8860d0, #5680e9);
  border: 1px solid #c1c8e4;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.container-small {
  width: 80%;
}

.avatar {
  position: relative;
}
.avatar__img {
  height: 50px;
}
.avatar__status {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.avatar__name {
  color: #8860d0;
  font-weight: 400;
  font-size: 20px;
}
.avatar__green {
  background: green;
}
.avatar__red {
  background: red;
}

.form {
  padding: 10px 20px;
  width: 300px;
  min-height: 200px;
  background: linear-gradient(#84ceeb, #c1c8e4);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.9;
}
.form__label {
  color: #4a4a4b;
}
.form__img {
  height: 140px;
  width: 140px;
}
.form__img--alt {
  height: 40px;
  width: 40px;
}
.form__input--container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.form__input--container__logo {
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form__input--container__input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  backdrop-filter: blur(5px);
  opacity: 0.4;
}
.form__input--container__input:focus {
  outline: none;
}
.form__btn {
  cursor: pointer;
  background: linear-gradient(to left, #8860d0, #5680e9);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.form__link {
  text-decoration: none;
  color: #4a4a4b;
}

@media only screen and (max-width: 700px) {
  .form {
    width: 100%;
    height: 100%;
  }
}
.navbar {
  height: 70px;
  background: linear-gradient(to right bottom, #84ceeb, #c1c8e4);
  box-shadow: 0 2px 10px -10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#84ceeb, #c1c8e4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.9;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #8860d0, #5680e9);
}

* {
  scrollbar-width: thin;
  scrollbar-color: linear-gradient(#84ceeb, #c1c8e4);
}

.side__bar {
  background: linear-gradient(to bottom, #5680e9, #8860d0);
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.9;
}
.side__bar--list {
  list-style-type: none;
}
.side__bar--list__item {
  cursor: pointer;
}
.side__bar--list__item--link {
  text-decoration: none;
  color: #fff;
}
.side__bar--list__item--image {
  height: 40px;
}
.side__bar--list__item:hover {
  height: 100px;
  background: linear-gradient(#84ceeb, #c1c8e4);
}

.termsandconditions {
  padding: 10px 20px;
  width: 70%;
  height: 60%;
  background: linear-gradient(#84ceeb, #c1c8e4);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0.9;
  position: relative;
}
.termsandconditions__heading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.termsandconditions__buttons {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.termsandconditions__buttons--accept {
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  background-color: green;
  border: 1px solid #fff;
  border-radius: 5px;
}
.termsandconditions__buttons--accept:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}
.termsandconditions__buttons--decline {
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  background-color: red;
  border: 1px solid #fff;
  border-radius: 5px;
}
.termsandconditions__buttons--decline:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
.termsandconditions__form {
  background-color: white;
  height: 70%;
  width: 80%;
  overflow: auto;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.termsandconditions__form::-webkit-scrollbar-track {
  border-radius: 10px;
}
.termsandconditions__form::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.absolute__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex__row {
  display: flex;
}

.flex__row--responsive {
  display: flex;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

.flex__column--responsive {
  display: flex;
  flex-direction: column;
}

.flex__end {
  justify-content: flex-end;
}

.flex__start {
  justify-content: flex-start;
}

.flex__even {
  justify-content: space-evenly;
}

.flex__between {
  justify-content: space-between;
}

.flex__center {
  justify-content: center;
}

.flex__center--align {
  align-items: center;
}

.flex__end--align {
  align-items: flex-end;
}

.flex__self--center {
  justify-self: center;
}

.flex__self--start {
  justify-self: flex-start;
}

.flex__self--end {
  justify-self: flex-end;
}

.flex__center--align__self {
  align-self: center;
}

.flex__start--align__self {
  align-self: flex-start;
}

.flex__end--align__self {
  align-self: flex-end;
}

.flex__five {
  flex: 0 0 5%;
}

.flex__ten {
  flex: 0 0 10%;
}

.flex__fifteen {
  flex: 0 0 15%;
}

.flex__twenty {
  flex: 0 0 20%;
}

.flex__ninety {
  flex: 0 0 90%;
}

@media only screen and (max-width: 700px) {
  .flex__row--responsive {
    display: flex;
    flex-direction: column;
  }
  .flex__column--responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}
.grid__three--two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

@media only screen and (max-width: 700px) {
  .grid__three--two {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }
}
.colspan-2-3 {
  grid-column: 1/3;
}

@media only screen and (max-width: 700px) {
  .grid__three--two {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .colspan-2-3 {
    grid-column: 1/2;
  }
}
.position__top--center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=style.css.map */
